$dark-blue: #2e2f60;
$light-blue: #525387;

$yellow: #e9b220;
$white: #ffffff;
$black: #000000;

//couleurs moins utiles
$dark-purple: #310055;
$light-green: #408276;
$red: #9f2541;

//navigation
$content-width: 1200px;
$breakpoint: 1100px;
$nav-height: 70px;
