@import "_base.scss";

main {
  position: relative;
  height: 100%;
}

.actu-text {
  cursor: pointer;
  h3:hover {
    text-decoration: underline;
  }
}

#hide-background {
  top: 0;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba($black, 0.25);
}
.article {
  opacity: 1;
  transition: all 0.5s ease-out;
  .contenu-article {
    &::before {
      position: absolute;
      z-index: -1;
      content: "";
      height: 100%;
      width: 100%;
      inset: 0;
      background-color: $light-blue;
      rotate: -2deg;
      box-shadow: 0px 0px 50px rgba(black, 0.75);
    }
    position: relative;
    display: flex;
    padding: 5vw 5vw;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    background-color: $white;
    margin: 0px 15vw;
    p,
    time,
    h2,
    h3 {
      text-align: start;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-self: stretch;
    }
    h2 {
      position: relative;
      z-index: 10;
      font-weight: 900;
      font-size: 2rem;
      color: $yellow;
      &::before {
        rotate: -2deg;
        transform: scale(1.05, 1.2);
        z-index: -1;
        content: "";
        position: absolute;
        display: inline-block;
        height: 100%;
        width: 100%;
        background-color: $dark-blue;
        margin: 0;
        top: 0;
        left: 0;
      }
    }
    h3 {
      font-size: 1.5rem;
    }
    .img-banner {
      width: 100%;
      z-index: 10;
      position: relative;
      img {
        width: 100%;
        aspect-ratio: 16/9;
        object-fit: cover;
      }
      &::before {
        position: absolute;
        z-index: -1;
        content: "";
        height: 100%;
        width: 100%;
        inset: 0;
        background-color: $yellow;
        rotate: -2deg;
      }
    }
    p:last-of-type,
    p:nth-of-type(1) {
      font-weight: 600;
    }
    .share {
      border: solid 2px $black;
      border-radius: 8px;
      padding: 8px 12px;
      gap: 8px;
      font-size: 1rem;
      img {
        height: 20px;
        aspect-ratio: 1;
      }
      display: flex;
      flex-direction: row;
    }
  }
}

.btn {
  margin: 0;
}
.close {
  margin-left: auto;
  margin-right: 0;
  box-shadow: 0px 0px 100px rgba($black, 0.5) inset, 0px 0px 100px black;
  position: sticky;
  top: 15px;
  right: 15px;
  border-radius: 8px;
  border: 2px solid $white;
  background-color: transparent;
  font-size: 17px;
  font-weight: 600;
  color: $white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  p {
    font-size: 2rem;
  }
  &:hover {
    color: $yellow;
    border-color: $yellow;
  }
}

@media (max-width: $large-breakpoint) {
  .contenu-article {
    margin: 0px 10vw !important;
  }
}
@media (max-width: $small-breakpoint) {
  .contenu-article {
    margin: 0px 5vw !important;
  }
}
.display-none {
  display: none !important;
  opacity: 0 !important;
}
