@import "compte.scss";

*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a, h1, h2, h3{
    font-family: 'Sigmar One', cursive;

}
body{
    font-family: 'Quicksand', sans-serif;
    background-color: #2b2b2b;
    min-height:100vh ;
    header{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        #logo{
            width:400px;
        }
        nav{
            margin-top: 30px;
            width: 80%;
            background-color: #FED500;
            border: 5px solid #8664e3;
            border-radius: 30px;
            padding: 15px;
            ul{
                display: flex;
                justify-content: space-around;
                align-items: center;
                li{
                    list-style: none;
                    a{
                        text-decoration: none;
                        color: #8664e3;
                        font-size: 1.2rem;
                        padding: 0.5rem 1rem;
                        font-weight: 600;
                    }
                }
            }
        }
    }
    main{
        margin-top: 30px;
        #nouveaute{
            h2{
                font-size: 4rem;
            }
            color: #FED500;
            background-color: #8664e3;
            border-radius: 40px;
            min-height: 600px;
            width: 90%;
            margin-left: 5%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            #nouveaute-video{
                display:flex ;
                justify-content: space-evenly;
                align-items: center;
                flex-wrap: wrap;
                width: 100%;
                iframe{
                    border-radius: 20px;
                    transition: all 0.2s linear;
                    &:hover{
                        border: 5px solid #FED500;
                    }
                }

            }
            p{
                strong{
                    transition: all 0.5s ease-in-out;
                    &:hover{
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }
        }
        #short{
            margin-top: 50px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 80%;
            margin-left: 10%;
            iframe{
                &:hover{
                    box-shadow: 0px 0px 50px 5px #FED500;
                }
                border-radius: 20px;
                transition: all 0.5s ease-in-out;
            }
        }
        #contenu{
            margin-top: 50px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: nowrap;
            #contenu-video{
                color: #8664e3;
                background-color: #FED500;
                border-radius: 20px;
                padding-top: 10px;
                padding-bottom: 20px;
                padding-left: 20px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-wrap: wrap;
                width: 65%;
                article{
                    width: 100%;
                    margin-top: 15px;
                    margin-bottom: 15px;
                    div{
                        h2{ 
                            margin-bottom: 15px;

                        }
                        iframe{
                            border-radius: 20px;
                            transition: all 0.2s linear;
                            &:hover{
                                border: 5px solid #8664e3;
                            }
                        }
                        width: 100%;
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
    
                    }

                }
            }
            #contenu-actualite{
                background-color: #8664e3;
                color: #FED500;
                padding: 15px;
                border-radius: 20px;
                height: 100%;
                width: 25%;
                h2{
                    text-align: center;
                }
                hr{
                    width: 60%;
                    height: 1px;
                    margin-left: 20%;
                    background-color: #FED500;
                    border: 1px solid #FED500;
                }
                article{
                    &:hover{
                        background-color: #FED500;
                        color: #8664e3;
                        cursor: pointer;
                    }
                    padding-top: 30px;
                    padding-bottom: 30px;
                    display: flex;
                    border-radius: 30px;
                    transition: all 0.5s ease-in-out;
                    justify-content: space-evenly;
                    align-items: center;
                    img{
                        height: 100px;
                        border-radius: 25px;
                    }
                    h3{
                        margin-bottom: 15px;
                    }
                    div{
                        width: 300px;
                    }
                }
            }
        }
    }
    footer{
        margin-top: 50px;
        height: 100px;
        background-color: #8664e3;
        color: #FED500;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}