@import "_base.scss";
@import "compte.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.title,
h1,
h2,
h3 {
  font-weight: 500;
  font-family: $title-font;
}
.rappel-interaction {
  width: 100%;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: white;
  p {
    text-align: center;
  }
}
a {
  cursor: pointer;
}
.display-none {
  display: none;
}

body {
  height: 100%;
  width: 100%;
  inset: 0;
  overflow-x: hidden;
  font-family: $text-font;
  background-color: $yellow;
  min-height: 100vh;
}
.logo-container {
  padding: 10px 16px 10px 16px;
  display: block;
  float: left;
  height: 100%;
  #logo {
    height: 50px;
  }
}
header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  nav {
    width: 100%;
    height: $nav-height;
    background-color: $yellow;

    .nav-container {
      margin: auto;
      padding: 0;
      max-width: 1200px;
      height: $nav-height;

      #nav-list {
        display: none;
        height: $nav-height;
        list-style: none;
        margin: 0;
        padding: 0;
        align-items: center;
        li {
          float: left;
          padding: 10px 4px 10px 4px;
          list-style: none;

          a {
            padding: 8px 12px 8px 12px;
            width: 100%;
            line-height: 50px;
            text-align: center;
            text-decoration: none;
            color: $black;
            font-size: 1.2rem;
            font-weight: 200;
          }
        }
      }
      #burger-menu-open {
        display: flex;
        float: right;
        margin: 10px 16px 10px 16px;
        height: 50px;
        width: 50px;
        flex-direction: column;
        position: relative;
        justify-content: space-around;
        .line:nth-child(even) {
          transform: translate(-10%, 0);
        }
        .line:nth-child(odd) {
          transform: translate(10%, 0);
        }
        .line {
          transition: all 0.1s ease-out;
          position: relative;
          height: 5px;
          width: 100%;
          background-color: $dark-blue;
        }
      }
      #burger-menu-open:hover > .line {
        transform: translate(0, 0);
      }
    }
  }
}

.call-to-action {
  z-index: 10;
  color: #000000;
  border: solid 2px #000000;
  border-radius: 8px;
  position: relative;
}

.decorations {
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0;
  background-color: $yellow;
  .decorations-right,
  .decorations-left {
    z-index: 5;
    position: absolute;
    height: 105%;
  }
  .decorations-left {
    left: -200px;
  }
  .decorations-right {
    right: -200px;
  }
}

iframe {
  &:hover {
    outline: 2px solid #ffffff;
  }
  transition: all 0.1s ease-out;
  margin: 10px 20px 10px 20px;
  border-radius: 8px;
}
.video {
  aspect-ratio: 16/9;
  height: 25vh;
}
.short {
  aspect-ratio: 9/16;
  width: 25vh;
}

.big-title {
  position: relative;
  z-index: 10;
  display: inline-block;
  h3:before,
  h2::before {
    rotate: -2deg;
    scale: 1.2;
    z-index: -1;
    content: "";
    position: absolute;
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: $dark-blue;
    margin: 0;
    top: 0;
    left: 0;
  }
  h3,
  h2 {
    position: relative;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    font-size: 3rem;
    color: $white;
    z-index: 10;
  }
}
.preview-layout {
  overflow-x: clip;
  position: relative;
  .title {
    padding: 10px 16px 10px 16px;
    h2 {
      margin: 8px 12px 8px 12px;
    }
  }
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 90vh;
}

section {
  padding: 100px 8px 100px 8px;
}

.vertical-list {
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: baseline;
  width: 100%;
  background-color: #000000;
}
.horizontal-list {
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  p {
    strong {
      transition: all 0.5s ease-in-out;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

.btn {
  position: relative;
  z-index: 10;
  padding: 12px 32px 12px 32px;
  border-radius: 8px;
  font-size: 1.5rem;
  background: none;
  margin: 8px 12px 8px 12px;
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0.34, 1.56, 0.64, 1);
  border: solid 2px;
  &__yellow {
    &--filled {
      background-color: $yellow;
      color: $dark-blue;
      border-color: $yellow;
    }
    background-color: transparent;
    color: $yellow;
    border-color: $yellow;
  }
  &__darkblue {
    &--filled {
      background-color: $dark-blue;
      color: $yellow;
      border-color: $dark-blue;
    }
    background-color: transparent;
    color: $dark-blue;
    border-color: $dark-blue;
  }
}
.btn:hover {
  transform: scale(1.1);
}

#short {
  z-index: 10;
  // background-color: white;
}
#short::before {
  position: absolute;
  z-index: -1;
  content: "";
  height: 100%;
  width: 100%;
  inset: 0;
  background-color: $white;
  rotate: 2deg;
  transform: scaleX(1.2) scaleY(1.1);
}

footer {
  position: relative;
  z-index: 100;
  border-top: $white solid 2px;
  min-height: 100px;
  padding: 20px 10vw;
  background-color: $dark-blue;
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  #brand {
    font-size: 1.25rem;
    font-weight: 600;
    color: $yellow;
  }
  #copyright {
    color: $white;
  }
  section {
    width: 100%;
    // display: flex;
    // justify-content: space-evenly;
    // align-items: center;
    #logo {
      padding: 10px;
      margin: auto;
      height: 70px;
      float: left;
    }
    ul {
      float: right;
      list-style: none;
      li {
        float: right;
        padding: 0px 10px;
        img {
          width: 70px;
          cursor: pointer;
        }
      }
    }
  }
}
.horizontal-list {
  .preview:nth-child(3) {
    display: none;
  }
  .preview {
    height: 19vh;
  }
}

#actualite {
  color: white;
  z-index: 10;
  padding: 0 10vw 0 10vw;
  :nth-child(even) {
    justify-content: baseline;
    div {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: flex-start;
    }
  }
  :nth-child(odd) {
    justify-content: end;
    div {
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-start;
    }
  }
  article {
    width: 100%;
    flex-wrap: nowrap;
  }
}
#actualite::before {
  position: absolute;
  z-index: -1;
  content: "";
  height: 100%;
  width: 100%;
  inset: 0;
  background-color: $dark-blue;
  rotate: -2deg;
  transform: scaleX(1.2) scaleY(1);
}

#create-account {
  position: relative;
  .title {
    z-index: 10;
    padding: 10px 16px 10px 16px;
    font-size: 3rem;
    font-family: $text-font !important;
    font-weight: 300 !important;
  }
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 150px 10vw 150px 10vw;
}

@media (min-width: $breakpoint) {
  #burger-menu-open {
    float: none !important;
    display: none !important;
  }
  #nav-list {
    display: block !important;
    float: right !important;
  }
  .horizontal-list {
    .preview:nth-child(3) {
      display: block !important;
    }
  }
  .decorations-left {
    left: 0 !important;
  }
  .decorations-right {
    right: 0 !important;
  }
}

// carroussel

.carousel {
  &__list {
    display: flex;
    list-style: none;
    position: relative;
    width: 100%;
    height: 50vh;
    justify-content: center;
    perspective: 300px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 0px;
    width: 25vh;
    height: 50vh;
    position: absolute;
    transition: all 0.3s ease-in;
    &::after {
      content: "";
      position: absolute;
      display: inline-block;
      height: 100%;
      width: 100%;
      opacity: 0.25;
      background-color: $dark-blue;
      margin: 0;
      top: 0;
      left: 0;
    }
    &[data-pos="0"] {
      z-index: 5;
    }
    &[data-pos="0"]::after {
      display: none;
    }

    &[data-pos="-1"] {
      transform: translateX(-15vw) scale(0.9);
      z-index: 4;
    }

    &[data-pos="1"] {
      transform: translateX(15vw) scale(0.9);
      z-index: 4;
    }

    &[data-pos="-2"] {
      transform: translateX(-26vw) scale(0.8);
      z-index: 3;
    }

    &[data-pos="2"] {
      transform: translateX(26vw) scale(0.8);
      z-index: 3;
    }
  }
}
