*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a, h1, h2, h3{
    font-family: 'Sigmar One', cursive;

}
//*****  VIDEO SEARCHBAR  *****//
.search-bar{

    transform: translate(-2%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: #FED500;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid #FED500;
    margin-top: 55px;
}

.search-bar-input{
    width: 100%;;
    height: 42.5px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
    background-color: #FED500;
}

.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #8664e3;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
    border: none;
    background-color: #FED500;
}

.search-bar:hover,
.search-bar:valid{
    width: 200px;
    cursor: pointer;
}

.search-bar:hover input,
.search-bar:valid input{
    display: block;
}

.search-bar:hover .fa,
.search-bar:valid .fa{
    background: #8664e3;
    color: #FED500;
}






body{
    h2{
        color: #FED500;
    }
    letter-spacing: 1px;
    background-color: #2b2b2b;
    font-family: 'Quicksand', sans-serif;
    header{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        #logo{
            width:400px;
        }
        nav{
            margin-top: 30px;
            width: 80%;
            background-color: #FED500;
            border: 5px solid #8664e3;
            border-radius: 30px;
            padding: 15px;
            ul{
                display: flex;
                justify-content: space-around;
                align-items: center;
                li{
                    list-style: none;
                    #header-video{
                        background-color: #8664e3;
                        color: #FED500 !important;
                        border-top-left-radius: 20px;
                        border-top-right-radius: 20px;
                        padding-bottom: 15px;
                    }
                    a{
                        text-decoration: none;
                        color: #8664e3;
                        font-size: 1.2rem;
                        padding: 0.5rem 1rem;
                        font-weight: 600;
                    }
                }
            }
        }
        section{
            height: 80px;
            min-width: 50%;
            background-color: #8664e3;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            #filter{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                .btn-filter{
                    padding: 5px;
                    color: #FED500;
                    border-radius: 10px;
                    margin: 15px;
                    font-size: 17px;
                    font-weight: 700;
                    background-color: #8664e3;
                    box-shadow: 0px 0px 1px 1px #FED500;
                    border: none;
                    &:hover{
                        background-color: #FED500;
                        color: #8664e3;
                        cursor: pointer;
                        transition: all 0.3s ease-in-out;
                    }
                }
            }
        }
    }
    main{
        article{
            margin-top: 50px;
            width: 100%;
            div{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                flex-wrap: wrap;
                iframe{
                    margin-top: 20px;
                    margin-bottom: 20px;
                    border-radius: 20px;
                    transition: all 0.3s ease-in-out;
                    &:hover{
                        box-shadow: 0px 0px 50px 5px #FED500;
                        cursor: pointer;
                    }
                }
            }
        }
        #page-num{
            margin-top: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            li{
                list-style: none;
            }
            a{
                margin: 15px;
                font-family: 'Sigmar One', cursive;
                font-size: large;
                transition: all 0.3s ease-in-out;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #FED500;
                border: 4px solid #8664e3;
                border-radius: 20px;
                min-width: 60px;
                height: 60px;
                color: #8664e3;
                text-decoration: none;
                
                &:hover{
                    background-color: #8664e3;
                    color: #FED500;
                    cursor: pointer;
                }
            }
        }
    }
    footer{
        margin-top: 200px;
        min-height: 100px;
        padding-top: 20px;
        background-color: #8664e3;
        color: #FED500;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        section{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            img{
                margin:20px;
                width: 50px;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
}