*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a, h1, h2, h3 {
  font-family: "Sigmar One", cursive;
}

form {
  transform: translate(-2%, -50%);
  transition: all 1s;
  width: 50px;
  height: 50px;
  background: #FED500;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid #FED500;
  margin-top: 55px;
}

input {
  width: 100%;
  height: 42.5px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
  background-color: #FED500;
}

.fa {
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #8664e3;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
}

form:hover,
form:valid {
  width: 200px;
  cursor: pointer;
}

form:hover input,
form:valid input {
  display: block;
}

form:hover .fa,
form:valid .fa {
  background: #8664e3;
  color: #FED500;
}

body {
  background-color: #2b2b2b;
  font-family: "Quicksand", sans-serif;
}
body header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
body header #logo {
  width: 400px;
}
body header nav {
  margin-top: 30px;
  width: 80%;
  background-color: #FED500;
  border: 5px solid #8664e3;
  border-radius: 30px;
  padding: 15px;
}
body header nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body header nav ul li {
  list-style: none;
}
body header nav ul li #header-video {
  background-color: #8664e3;
  color: #FED500 !important;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-bottom: 15px;
}
body header nav ul li a {
  text-decoration: none;
  color: #8664e3;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  font-weight: 600;
}
body header section {
  height: 80px;
  min-width: 50%;
  background-color: #8664e3;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body header section #filter {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
body header section #filter div {
  padding: 10px;
  color: #FED500;
  border-radius: 10px;
  margin: 15px;
  font-size: larger;
  font-weight: 700;
}
body header section #filter div:hover {
  background-color: #FED500;
  color: #8664e3;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
body main article {
  margin-top: 50px;
  width: 100%;
}
body main article div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
body main article div iframe {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}
body main article div iframe:hover {
  box-shadow: 0px 0px 50px 5px #FED500;
  cursor: pointer;
}
body main #page-num {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main #page-num div {
  margin: 15px;
  font-family: "Sigmar One", cursive;
  font-size: large;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FED500;
  border: 4px solid #8664e3;
  border-radius: 20px;
  width: 60px;
  height: 60px;
  color: #8664e3;
}
body main #page-num div:hover {
  background-color: #8664e3;
  color: #FED500;
  cursor: pointer;
}
body footer {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-top: 50px;
  height: 100px;
  background-color: #8664e3;
  color: #FED500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}