*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a, h1, h2, h3 {
  font-family: "Sigmar One", cursive;
}

body {
  background-color: #2b2b2b;
  font-family: "Quicksand", sans-serif;
}
body header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
body header #logo {
  width: 400px;
}
body header nav {
  margin-top: 30px;
  width: 80%;
  background-color: #FED500;
  border: 5px solid #8664e3;
  border-radius: 30px;
  padding: 15px;
}
body header nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body header nav ul li {
  list-style: none;
}
body header nav ul li a {
  text-decoration: none;
  color: #8664e3;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  font-weight: 600;
}
body footer {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-top: 50px;
  height: 100px;
  background-color: #8664e3;
  color: #FED500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}